
@media screen and (max-width:1024px){ 
    .box-content {
        width: 45%; 
    }
    .card-info-empty {
        width: 300px;
    }
}

@media screen and (max-width:768px){ 
    .main-box{
        display: block;
    }
    .card-info-empty img{
        display: none;
    }
    .box-content{
        width: 100%;
    }
    .box-content > textarea {
        height: 300px;
    }
    .box-footer {
        position: initial;
    }
}
@media screen and (max-width:480px){ 
    html, body{
        height: auto;
    }
    .main-box{
        display: block;
    }
    .card-info-empty img{
        display: none;
    }
    .box-content{
        width: 100%;
    }
    .box-content > textarea {
        height: 300px;
    }
    .box-footer {
        position: initial;
    }
   
}